#page-chat {padding-top: 61px; font-family: 'DejaVu Sans', sans-serif}
#page-chat ul {list-style-type: none; padding-left: 0; margin-top: 0}
#page-chat ul li {overflow: auto}
#page-chat ul li > div {overflow: auto; margin: 5px 3px; min-width: 200px}
#page-chat ul li .white {background-color: #fff; padding: 10px 12px 16px; border-radius: 3px}
#page-chat ul li .msg {display: inline-block; font-size: 14px}
#page-chat ul li .cap {color: #9013fe; cursor: pointer; font: 12px monospace;margin-bottom: 7px}
#page-chat ul li .cap:before {content: 'Ⓢ '; margin-top: -1px}
#page-chat ul li .foot div {float:left; margin:4px 0 0 28px; font-size: 10px;color: rgba(0,0,0,.3)}
#page-chat ul li .foot img {float:left; position: relative;width: 32px; height: 32px; border-radius: 50%; top:-9px; left:16px}
#page-chat ul li.yours .foot img {float:right; left:-16px}
#page-chat ul li.yours .foot div {float:right; margin-right: 28px}
#page-chat ul li.yours > div {float: right; margin-left: 15px}
#page-chat ul li.mine > div {float: left; margin-right: 15px}

#composer .emojis {position: fixed; right:5px;bottom:61px; font-size: 48px}
#composer .emojis div {color:red; cursor: pointer}
#composer {height: 45px}
#composer textarea
{
    outline:0;border:0;border-top:1px solid #ccc;margin:0;position: fixed; left: 0; bottom: 0;
    width: 100vw; height: 40px; transition: all .4s; padding: 20px 0 0 20px; font-size: 18px;
    max-height: 30vh;
}
#composer .head
{
    display: none; height: 32px;position: fixed;bottom:61px;left:0;background: #fff;width:100%;
    border-top: 1px solid #ccc; color: #5634ff; flex-wrap: nowrap
}
#composer .head > * {height:32px}
#composer .head .icon {background: url('/gfx/msg-subj.svg') no-repeat 11px 8px;width:32px;background-size: 39%}
#composer .head .cap {margin-top: 10px;font-size: 12px; flex: 4 1 0}
#composer .head .picker, #composer .head .files {width: 32px; max-width: 32px; flex: 1 1 0; cursor: pointer}
#composer .head .picker {background: url('/gfx/msg-updown.svg') no-repeat 11px 7px;background-size: 39%}
#composer .head .files {background: url('/gfx/msg-clip.svg') no-repeat 1px 9px}
#composer.focused .head {display: flex}
