#page-contacts {padding:0}
#page-contacts .head {position: fixed;width: 100%;top:0;left:0;height: 176px}
#page-contacts .head {height:128px; background-color: #4b54ff}
#page-contacts .head .ava {float: left;padding: 15px 16px 15px 24px}
#page-contacts .head img {border-radius: 50%; border-image:0}
#page-contacts .head .name {font-size: 27px; padding-top: 19px; font-weight: 700}
#page-contacts .head .email {font-size: 12px}
#page-contacts .accounts {overflow: hidden;height:80px;white-space: nowrap;display: flex;color:#fff}
#page-contacts .search input
{
    height:48px; border:0; width:100%; background:transparent url('/gfx/white/search.svg') no-repeat 40px 15px;
    color:#fff; font-size: 14px; padding: 0 0 0 89px;
}
#page-contacts .tabs {height:48px; display: flex; font-weight: 500}
#page-contacts .tabs div {flex: 1 0 0;text-align: center; padding-top: 14px; color: #4b54ff;background: #f5f5f5;box-shadow: 0 5px 20px 0 rgba(240,240,240,.8);cursor: pointer}
#page-contacts .tabs div span {border: 0 solid}
#page-contacts .tabs div.sel span {border-width:0 0 2px}

#page-contacts ul {list-style-type: none;margin-top:176px;padding: 0}
#page-contacts ul li.new {display: none}
#page-contacts ul li.new .name {padding-top:26px}
#page-contacts ul li.new img {background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AUKBxw6WPlMXAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAxSURBVCjPY/z69SsDNhCVyvKfgYGBYdnsP4zY5JkYyAQjQSOjf9TP//S1cTQeaaARAGowEHmXXrc6AAAAAElFTkSuQmCC) no-repeat center;display: block}

#page-contacts ul li .ava {float: left;padding: 14px; margin-right: 3px;min-width: 48px}
#page-contacts ul li .hujava {width: 100%}
#page-contacts ul li img
{
    border-radius: 50%; border-image:0;width:42px; height:42px;background: #c3d9ff;
    border: 3px transparent solid; transition: border-color .5s; transition-delay: .5s;
}
#page-contacts ul li img.unread {border-color:#5634ff}
#page-contacts ul li .name {font-size: 150%; padding-top: 21px; font-weight: 500}
#page-contacts ul li .email {font-size: 14px; color: grey}
#page-contacts ul li.swipedL {margin-left: -100px}
#page-contacts ul li
{
    overflow: hidden; height:80px; white-space: nowrap; display: flex; padding-left: 10px;
    transition: margin .4s; cursor: pointer;
}
#page-contacts ul li .pre, #page-contacts ul li .post
{
    display: flex; color:#fff; background-color: #4b54ff; min-width:100px;text-align: center;z-index: 1;
    justify-content:center;align-items:center; transition: margin .4s; font-size: 14px;font-weight: 500;
}
#page-contacts ul li .pre {margin-left: -110px}
#page-contacts ul li .post {margin-right: -100px}
#page-contacts ul li.swipedR .pre {margin-left: -10px}
#page-contacts ul li.swipedL .post {margin-right: 0}
