@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(/gfx/Roboto-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Work Sans Light'), local('Work-Sans-300'), url(/gfx/WorkSans-Light.woff) format('woff');
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('Work-Sans-regular'), url(/gfx/WorkSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Work Sans Medium'), local('Work-Sans-500'), url(/gfx/WorkSans-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Work Sans SemiBold'), local('Work-Sans-600'), url(/gfx/WorkSans-SemiBold.woff) format('woff');
}

body {font-family: 'Work Sans', sans-serif; padding: 0; margin: 0; background-color: #fff}
body::-webkit-scrollbar {display: none}
button
{
    margin: 5px auto; padding: 7px 15px 6px; cursor: pointer; font-size: 16px; background: #fff;
    border: 1px #0001f7 solid; color: #0001f7; border-radius: 3px; min-width: 64px; height:36px
}
button:active {background-color: #0001f7; color: #fff}

.page {display: none; padding: 5px}
.page * {outline:0}

*
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.file-icon
{
    height: 72px; width: 72px; border-radius: 2px; background-size: cover !important; text-transform: uppercase;
    font: 15px sans-serif; display:flex;justify-content:center;align-items:center; cursor: pointer; color: #fff;
}

#page-loader {background: #0001f7;display:flex;justify-content:center;align-items:center;height: 100vh;flex-direction: column}

#mbox { top:0;display: none;z-index: 100;width: 100vw;height: 100vh;background: rgba(0,1,247,.7);position: fixed }
#mbox > div { background: #fff; display:flex; flex-direction: column; margin: 5% auto; width:90%;align-self: center; max-width: 480px}
#mbox .body {padding: 20px;font-size: 16px}
#mbox .foot {border-top: 1px solid #ddd; display: flex}
#mbox input {width: calc(100% - 16px); padding: 5px 8px; border: 1px solid #ddd}
#mbox button {display: none; margin: 15px auto}
#demo { top:0;display: none;z-index: 100;width: 100vw;height: 100vh;background: rgba(0,1,247,.7);position: fixed }
#demo > div { display:flex; flex-direction: column; width:100%; align-self: center}
#demo .img
{
    width:100%; background-size: contain !important; height: 50vh;text-transform: uppercase;
    justify-content:center;align-items:center;color:#fff;font-size: 64px; display: flex;
}
#demo .head {display: flex; justify-content: flex-end;margin: 5px}
#demo .close {background: url('/gfx/white/close.svg') no-repeat; width:20px; height: 20px; cursor: pointer}

#demo .bar {height: 10vmin; position: fixed; width: 100%; top: calc(100vh - 50vw - 2px); display: none}
#demo .delete {background: url('/gfx/white/delete.svg') no-repeat center; width: 10vmin; height: 100%; float: right; cursor: pointer; margin-left: auto}
#demo .name {color: #fff; display: flex; justify-content:left;align-items:center;margin-left: 10px}

.spinner {
    margin: 80px auto 30px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    } 20% {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
      }
}

.onoff { position: relative; width: 64px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; cursor: pointer }
.onoff input { display: none }
.onoff label
{
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 1px solid #0001f7; border-radius: 36px;
    background-color: #fff;
    transition: background-color .3s ease-in;
}
.onoff label:before
{
    content: "";
    display: block; width: 36px; margin: 0;
    background: #fff;
    position: absolute; top: 0; bottom: 0;
    right: 26px;
    border: 1px solid #0001f7; border-radius: 36px;
    transition: all .3s ease-in 0s;
}
.onoff input:checked + label { background-color: #0001f7 }
/*.onoff input:checked + label, .onoff input:checked + label:before { border-color: #0001f7 }*/
.onoff input:checked + label:before { right: 0 }
