@font-face {
    font-family: 'Edmondsans';
    font-style: normal;
    font-weight: 400;
    src: local('Edmondsans'), local('Edmondsans-Regular'), url(/gfx/Edmondsans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Edmondsans';
    font-style: normal;
    font-weight: 500;
    src: local('Edmondsans Medium'), local('Edmondsans-Medium'), url(/gfx/Edmondsans-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Edmondsans';
    font-style: normal;
    font-weight: 700;
    src: local('Edmondsans Bold'), local('Edmondsans-Bold'), url(/gfx/Edmondsans-Bold.woff) format('woff');
}

body {font-family: 'Edmondsans', sans-serif; padding: 0; margin: 0; background-color: #f5f5f5}
body::-webkit-scrollbar {display: none}

.page {display: none; padding: 5px}
.page * {outline:0}

.file-icon
{
    height: 72px; width: 72px; border-radius: 2px; background-size: cover !important; text-transform: uppercase;
    font: 15px sans-serif; display:flex;justify-content:center;align-items:center; cursor: pointer; color: #fff;
}

#page-loader {background: #4b54ff;display:flex;justify-content:center;align-items:center;height: 100vh;flex-direction: column}

#mbox { top:0;display: none;z-index: 100;width: 100vw;height: 100vh;background: rgba(0,0,0,.5);position: fixed;  }
#mbox > div { background: rgba(255,255,255,.8); display:flex; flex-direction: column; margin: 5%; width:90%;align-self: center}
#mbox button {display: none;margin: 15px auto;height:32px; padding: 5px 15px;cursor: pointer}
#mbox .body {padding: 20px;font-size: 16px}
#mbox .foot {border-top: 1px solid #ddd; display: flex}

.spinner {
    margin: 80px auto 30px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    } 20% {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
      }
}
