@media (min-width: 768px)
{
    .page {background: #f5f5f5}

    #page-contacts {width: 360px;background: #fff; min-height: 100vh}
    #page-contacts .head {width: 360px}
    #page-contacts .head .filter {width: 271px}
    #page-contacts .head .clear {left: 330px; right: auto}
    #page-contacts ul {margin-bottom: 0}
    #page-contacts ul li {width: 360px}
    #page-contacts ul .hujava {width: 250px}

    #page-msgs {position: fixed; top:0; left: 360px; right:0; width: auto; height: 100vh; overflow-y: scroll}
    #page-msgs ul {padding: 20px 0 60px}
    #page-msgs ul li {overflow: auto; width: calc(100vw - 370px)}
    #page-msgs ul li.yours > div {margin-left:24px}
    #page-msgs ul li.mine > div {margin-right:24px}

    #snackbar {left: 360px; right:0; width: auto; box-shadow: none; padding-top: 4px; border-left: 1px solid #f5f5f5}
    #snackbar .icon.back {display: none}
    #snackbar .name {padding-left: 24px}
    #msgs-filter {left: 372px}

    #composer textarea {left: 385px; right: 25px; border:0; width: calc(100vw - 490px)}
    #composer .head {left: 385px; right: 25px; width: auto; border:0}
    #composer .subjects {left: 385px; right: 25px; width: auto}
    #composer .send {right: 37px}
    #uploaded {left: 385px; right: 25px}
}
