#page-login {background: #0001f7; color: #fff; height: 100vh; font-weight: 500}
#page-login .logo {display: block; margin: 15vh auto 14vh}
#page-login button {width: 73%; margin: auto; display: block; border: 0; border-radius: 2px; height: 40px; cursor: pointer}
#page-login .google {color: rgba(0, 0, 0, .5); background: #fff url('/gfx/super-g.png') no-repeat 13px 11px}
#page-login .text {text-align: center; margin: 20px 0; font-size: 24px}
#page-login .login {background: #fff; color: #4b54ff; margin-top: 8px}
#page-login .login:disabled {background: rgba(0, 0, 0, .08);color: #fff}
#page-login input
{
    width: 73%; margin: 0 auto 8px; display: block; border: 0; border-radius: 2px;
    background: rgba(255,255,255,.2);text-align: center; color: #fff; padding: 10px 0
}
