#page-contacts {padding:0}
#page-contacts .head {position: fixed;width: 100%;top:0;left:0;height: 176px}
#page-contacts .head {height:128px; background-color: #4b54ff}
#page-contacts .head .ava {float: left;padding: 14px 16px}
#page-contacts .head img {border-radius: 50%; border-image:0}
#page-contacts .head .name {font-size: 170%; padding-top: 16px}
#page-contacts .head .email {font-size: 70%;}
#page-contacts .accounts {overflow: hidden;height:80px;white-space: nowrap;display: flex;color:#fff}
#page-contacts .search {}
#page-contacts .search input
{
    height:48px; border:0; width:100%; background:transparent url('ic_white/find.png') no-repeat 30px 16px;
    color:#fff; font-size: 140%; padding: 0 0 0 80px;
}
#page-contacts .search input:focus {outline: none}
#page-contacts .tabs {height:48px; display: flex}
#page-contacts .tabs div {flex: 1 0 0;text-align: center; padding-top: 14px; color: #4b54ff;background: #f5f5f5;box-shadow: 0 5px 20px 0 rgba(240,240,240,.8);cursor: pointer}
#page-contacts .tabs div span {border: 0 solid}
#page-contacts .tabs div.sel span {border-width:0 0 2px}

#page-contacts ul {list-style-type: none;margin-top:176px;padding: 0}
#page-contacts ul li .ava {float: left;padding: 14px 16px;margin-right: 5px}
#page-contacts ul li img {border-radius: 50%; border-image:0;width:48px;height: 48px;background: #c3d9ff}
#page-contacts ul li .name {font-size: 150%; padding-top: 16px}
#page-contacts ul li .email {font-size: 75%; color: grey}
#page-contacts ul li.swiped {margin-left: 110px;}
#page-contacts ul li
{
    overflow: hidden; height:80px; white-space: nowrap; display: flex; padding-left: 10px;
    transition: all .4s; margin-right: 10px; cursor: pointer;
}
#page-contacts ul li.swiped:before
{
    content:'Mute'; padding: 32px 36px; text-transform: uppercase;
    color:#fff; background-color: #4b54ff; margin-left: -120px;position:absolute
}

#page-chat {padding-top: 61px}
#page-chat ul {list-style-type: none; padding-left: 0; margin-top: 0}
#page-chat ul li {overflow: auto}
#page-chat ul li > div {overflow: auto; margin: 5px 3px; background-color: #fff; padding: 10px 12px; border-radius: 3px}
#page-chat ul li .msg {display: inline-block}
#page-chat ul li.yours > div {float: right; margin-left: 15px}
#page-chat ul li.mine > div {float: left; margin-right: 15px}
#page-chat ul li .tag {color: #9013fe; cursor: pointer}

#composer textarea.focused {height: 30vh; padding: 5px; font-size: 120%}
#composer textarea {margin:0;position: fixed; left: -1px; bottom: -1px; width: 100vw; height: 40px; transition: all .4s; padding: 20px  0 0 20px; font-size: 150%}
#composer-pop {height: 30vh}
