body {font-family: "DejaVu Sans"; padding: 0; margin: 0; background-color: #eaeaea}
body::-webkit-scrollbar {display: none}

.page {display: none; padding: 5px}

#page-loader {display: block}

#snackbar {display: none; position: fixed; top: 0; width: 100%; height: 56px; box-shadow: 0 0 7px 0 rgba(80,80,80,.75); background-color: /*#2aff67*/#eaeaea}
#snackbar>div {position: fixed; top: 0}
#snackbar .icon {width: 40px; height: 40px; text-align: center; background: no-repeat center center; top: 8px; cursor: pointer; border-radius: 3px}
#snackbar .hamburger {left: 5px; background-image: url('ic_black/menu.svg')}
#snackbar .name {left: 50px; padding-top: 19px}
#snackbar .tags {right: 85px; background-image: url('ic_black/whatshot.svg')}
#snackbar .files {right: 42px; background-image: url('ic_black/attachment.svg')}
#snackbar .more {right: 5px; background-image: url('ic_black/more_vert.svg');  transition:  transform .3s; }
#snackbar .more.toggled {transform: rotate(90deg)}

.snackbar-menu {position: fixed; right: 3px; top: 65px; display: none; background-color: #eaeaea; box-shadow: 0 2px 6px 0 rgba(80,80,80,.75); }
.snackbar-menu ul {list-style-type: none; padding: 2px 0; margin: 0}
.snackbar-menu ul:before
{
    right: 11px; border-color: transparent transparent #eaeaea transparent; content: ''; position: absolute;
    top: -10px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px; z-index: 9999
}
.snackbar-menu li {padding: 10px 14px; cursor:  pointer}

#snackbar-menu-files {right: 41px}
#snackbar-menu-tags {right: 85px}

#page-contacts ul {list-style-type: none}
#page-contacts ul li {padding: 5px 8px; cursor: pointer}
#page-contacts ul li:nth-child(2n) {background-color: #f4f4f4}
#page-contacts ul li:nth-child(2n+1) {background-color: #fff}
#page-contacts ul li:hover {background-color: #c3d9ff}
#page-contacts ul li div:last-child {font-size: 75%}

#page-chat {padding-top: 61px}
#page-chat ul {list-style-type: none; padding-left: 0; margin-top: 0}
#page-chat ul li {overflow: auto}
#page-chat ul li > div {overflow: auto; margin: 5px 3px; background-color: #fff; padding: 8px 10px; border-radius: 3px}
#page-chat ul li .msg {display: inline-block}
#page-chat ul li.yours > div {float: right; margin-left: 15px}
#page-chat ul li.mine > div {float: left; margin-right: 15px}
#page-chat ul li .tag {color: #9013fe; cursor: pointer}

#composer {position: fixed; left: 0; bottom: 0; width: 100%; height: 20vh}
#composer textarea {width: 100%; height: 100%}
#composer .tags {display: none}
#composer .tag {float: left; background: lightgray; padding: 5px 8px; color: #9013fe; margin-right: 2px; cursor: pointer; border: 1px solid transparent}
#composer .tag.sel {border-color: #001199}
#composer-pop {height: 20vh}


.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    } 20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
    }
}
