#roster-modal
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background #fff
  z-index 15

  ul
    margin 128px 0 0
    list-style-type none
    padding 2px 0
    li
      height 48px
      font-size 24px
      font-weight 300
      overflow hidden
      white-space nowrap
      margin 0 36px
      color color-brand
      display flex
      align-items center

  .head
    height 128px
    color color-brand
    background #fff
    position fixed
    width 100%
    top 0
    left 0
    z-index 9
    .clear
      width 20px
      height 20px
      background url('/gfx/color/clear.svg')
      position fixed
      top 94px
      right 10px
      cursor pointer
    .close
      position fixed
      background url('/gfx/color/close.svg')
      width 14px
      height 14px
      top 21px
      right 17px

  .hint
    height 80px
    display flex
    justify-content center
    align-items center
    font-size 14px
    text-align center
  .search
    input
      height 48px
      border 0
      width 100%
      background url('/gfx/color/search.svg') no-repeat 40px 15px
      color color-brand
      font-size 14px
      padding 0 0 0 89px
      &::-webkit-input-placeholder
        color color-brand
      &::-moz-placeholder
        color color-brand