custom-box-modal
  display block
  width 100vw
  height 100vh
  z-index 50
  background rgba(245, 245, 245, .8)
  position fixed
  top 0
  left 0
  & > div
    display flex
    width calc(100vw - 16px)
    position fixed
    left 8px
    top 72px
    background #fff
    max-height calc(100vh - 160px)
    border-radius 2px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, .12)
    animation-mixin(fadeIn)

.context-menu-message
  display flex
  align-items center
  justify-content center
  & > div
    top auto
    position relative
    left 0
    @media screen and (min-width break-tablet)
      width 512px
  ul
    list-style-type none
    padding 8px 0
    margin 0
    justify-content center
    width 100%
    li
      cursor pointer
      padding 0 16px
      @extend $font-clickable

.message-viewer
  & > div
    width 100%
    left 0
  message-body
    overflow scroll
  iframe
    border 0
    width 100%
    height calc(100vh - 160px)
