custom-box-modal
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  z-index 50
  display flex
  justify-content center
  align-items center
  background rgba(245, 245, 245, .8)
  & > div
    display flex
    flex-direction column
    width calc(100vw - 16px)
    background #fff
    max-height calc(100vh - 160px)
    @media screen and (min-width break-tablet)
      max-width 512px
    border-radius 2px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, .12)
    animation-mixin(fadeIn)

.context-menu-message
  ul
    list-style-type none
    padding 8px 0
    margin 0
    justify-content center
    width 100%
    li
      cursor pointer
      padding 0 16px
      @extend $font-clickable

.message-viewer
  & > div
    width 100%
    left 0
    @media screen and (min-width break-tablet)
      max-width inherit
      margin 8px
  message-body
    overflow scroll
  iframe
    border 0
    width 100%
    height calc(100vh - 160px)

.intro-modal
  & > div > div
    align-items center
    padding-top 16px
    display flex
    flex-direction column
    justify-content center
  font 14px Roboto, sans-serif
  line-height 20px
  h1
    font 300 20px 'Work Sans', sans-serif
    margin 8px 0
  button
    width 100%
    margin 48px 0 0
    height 48px
    background color-brand
    color #fff
    &:disabled
      background #e2e2e2
  svg
    margin-top 32px
  hr
    border 1px solid #f7f7f7
    width 256px
    margin 24px 0 8px
