demo-box-modal
  top 0
  z-index 100
  width 100vw
  height 100vh
  background alpha(color-brand, .7)
  position fixed
  & > div
    display flex
    flex-direction column
    width 100%
    align-self center
  .img
    width 100%
    background-size contain !important
    height 50vh
    text-transform uppercase
    justify-content center
    align-items center
    color #fff
    font-size 64px
    display flex
  .head
    display flex
    justify-content flex-end
    margin 5px
  .close
    background url('/gfx/white/close.svg') no-repeat
    width 20px
    height 20px
    cursor pointer
  .bar
    height 10vmin
    position fixed
    width 100%
    top calc(100vh - 50vw - 2px)
    display none
  .delete
    background url('/gfx/white/delete.svg') no-repeat center
    width 10vmin
    height 100%
    float right
    cursor pointer
    margin-left auto
  .name
    color #fff
    display flex
    justify-content left
    align-items center
    margin-left 10px