demo-box-modal
  display flex
  top 0
  z-index 100
  width 100vw
  height 100vh
  background alpha(color-brand, .7)
  position fixed
  & > div
    display flex
    flex-direction column
    width 100%
    align-self center
    background rgba(0, 0, 0, .15)
  .img
    width 100%
    background-size contain !important
    height 50vh
    text-transform uppercase
    justify-content center
    align-items center
    color #fff
    font-size 64px
    display flex
  .head
    display flex
    margin 5px
    svg
      cursor pointer
      margin 4px
      margin-left auto
  .bar
    height 10vmin
    position fixed
    width 100%
    top calc(100vh - 50vw - 2px)
    display flex
    background rgba(0, 0, 0, .25)
  .delete
    width 10vmin
    cursor pointer
    margin-left auto
    svg
      margin 6px
  .name
    color #fff
    display flex
    justify-content left
    align-items center
    margin-left 10px