filter-modal
  position fixed
  z-index 1
  top 64px
  min-height 60px
  left 12px
  right 12px
  background #fff
  padding-left 10px
  align-items center
  font-family 'Work Sans', sans-serif
  border 1px #eee solid
  @media screen and (min-width break-tablet)
    left 372px
  & > div
    flex 4
  .caption
    color color-font-hint
    margin 8px 0
  .filter
    @extend $font-clickable
    line-height 120%
    padding-bottom 8px
  bar-icon
    height 60px
    min-width 60px
    max-width 60px
