filter-modal
  position fixed
  z-index 1
  top 64px
  height 60px
  left 12px
  right 12px
  background #fff
  padding-left 10px
  align-items center
  font-family 'Work Sans'
  border 1px #eee solid
  & > div
    flex 4
  .caption
    color color-font-hint
    margin-top 8px
  .filter
    @extend $font-clickable
  bar-icon
    height 60px
    min-width 60px
    max-width 60px
