menu-modal
  position fixed
  display block
  z-index 10
  right 3px
  top 62px
  background-color #fff
  border 2px solid color-bg-grey
  animation-mixin(fadeInDown)
  &:before
    right 5px
    border-color transparent transparent #fff transparent
    content ''
    position absolute
    top -10px
    width 0
    height 0
    border-style solid
    border-width 0 10px 10px
    z-index 10
  ul
    list-style-type none
    padding margin-medium margin-large
    margin 0
    li
      cursor pointer
      @extend $font-clickable

.menu-files
  width 98%
  left 1%
  @media screen and (min-width break-tablet)
    max-width calc(98% - 360px)
    left auto
    
  &:before
    right 45px
  ul
    display flex
    flex-wrap wrap
    overflow auto
    max-height calc(100vh - 76px)
    justify-content center
    li
      padding 0
      bar-icon
        height 38px
        margin-bottom 10px
  file-plate
    margin 2px
    font-size 32px
  div
    color color-font-hint
    font italic 14px Roboto
    display flex
    justify-content center
    align-items center
    height 50vh

.menu-subjects
  min-width 200px
  @media screen and (min-width break-tablet)
    max-width 512px
    left auto
  &:before
    right 85px
  ul
    overflow auto
    max-height calc(100vh - 76px)
    color color-brand

.menu-users
  right initial
  width 98%
  left 1%
  @media screen and (min-width break-tablet)
    max-width 512px
    left calc(1% + 360px)
  &:before
    left 41px
  li
    display flex
    height 72px
    align-items center
    line-height 1.5
    & > div
      padding-left 12px
      flex 4
    bar-icon
      min-width 48px
      max-width 48px
      height 80px
  bar
    display flex
  button
    color #fff
    background color-brand
    margin 0
    border-radius 0
    height 48px
    flex 1

.modal-shader
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  display block
  background rgba(color-bg-grey, .8)
  z-index 1
