message-box-modal
  display flex
  top 0
  z-index 100
  width 100vw
  height 100vh
  background alpha(color-brand, .7)
  position fixed
  & > div
    background #fff
    display flex
    flex-direction column
    margin 5% auto
    width 90%
    align-self center
    max-width 480px
    animation-mixin(fadeIn)
  message-body
    padding 16px 16px 8px
    max-height calc(100vh - 120px)
    overflow-y auto
    @extend $font-bread
  .foot
    display flex
  input[type="text"]
    margin 0 16px
    border 0
    border-bottom 1px solid color-brand
    padding 5px 8px
    height 32px
    @extend $font-bread
  textarea
    border-color color-bg-grey
    @extend $font-bread
    margin 8px
    padding 4px
    min-height 72px
    resize vertical
  button
    margin 8px auto
