custom-box-modal.subjects-modal > div
  overflow auto
  ul
    flex-grow 1
    list-style-type none
    padding 10px 0 0
    max-height calc(100vh - 208px)
    overflow auto
    margin 0
    li
      @extend $font-clickable
      padding-left 40px
      &.sel
        background url(gfx/color/subj.svg) no-repeat 14px 8px
  button
    background color-brand
    color #fff
    width 100%
    margin-bottom 0
    height 48px
