avatar
  // animation-mixin(fadeInUp)
  border-radius 50%
  display flex
  justify-content center
  align-items center
  transition border-color .5s
  transition-delay .5s
  color #fff
  text-transform uppercase
  font 18px sans-serif
  background-size cover !important
  border-color color-bg-grey
  &.unread
    border 3px color-brand solid
