avatar
  // animation-mixin(fadeInUp)
  border-radius 50%
  display flex
  justify-content center
  align-items center
  transition border-color .5s
  transition-delay .5s
  color #fff
  text-transform uppercase
  font 18px sans-serif
  background-color #e2e3dc
  background-size cover !important
  border-color color-bg-grey
  @media screen and (min-width break-tablet)
    background-color rgba(0,0,0,0.2)
  &.unread
    border 3px color-brand solid
    @media screen and (min-width break-tablet)
      border 3px rgba(255,255,255,0.9) solid
