bar-icon
  display flex
  flex 1
  justify-content center
  align-items center
  flex-direction column
  cursor pointer
  svg
    display block
    background-repeat no-repeat
    background-position center
  div
    font-size 12px