bottom-bar
  height 56px
  min-height 56px
  margin-top auto
  display flex
  background-color color-brand
  color #fff
  font-family 'Work Sans', sans-serif
  z-index 1
  @media screen and (min-width break-tablet)
    position absolute
    width 100%
    top 0
    left 0
    bar-icon:hover
      background-color lighten(color-brand, 4%)