chat-row-height = 72px

chat-row
  overflow hidden
  height chat-row-height
  white-space nowrap
  display flex
  transition height .8s ease-in, opacity .8s ease-in
  cursor pointer
  align-items center
  position relative
  @media screen and (min-width break-tablet)
    &:hover
      .real
        background-color lighten(color-brand, 4%)
  avatar
    margin margin-large margin-medium margin-large margin-large
    line-height @height
  &>div
    display flex
    background color-bg-grey
    width 100%
    @media screen and (min-width break-tablet)
      background color-brand
    &.travel
      transition all .4s ease-in
  .name
    @extend $font-heading
    margin-bottom 2px
    overflow hidden
    text-overflow ellipsis
    width calc(100vw - 90px)
    @media screen and (min-width break-tablet)
      color color-font-white
      width calc(360px - 90px)
    &:first-letter
      text-transform capitalize
  .email
    overflow hidden
    text-overflow ellipsis
    width calc(100vw - 90px)
    @extend $font-bread-2
    @media screen and (min-width break-tablet)
      color color-font-hint-white
      width calc(360px - 90px)
  .info
    padding-top 14px
  .real
    height chat-row-height
  .shadow
    height chat-row-height
    display none
    width 100%
    background color-brand
    color #fff
    @media screen and (min-width break-tablet)
      background #fff
      color color-brand
    div
      display flex
      justify-content center
      align-items center
      height 100%
      width 80px
      text-align center
      text-transform lowercase
      &:first-child
        float left
      &:last-child
        float right
        margin-right 12px
