file-plate
  overflow hidden
  white-space nowrap
  margin-right 3px
  border-radius 2px
  background-size cover !important
  text-transform uppercase
  font 15px sans-serif
  display flex
  justify-content center
  align-items center
  cursor pointer
  color #fff