file-plate
  overflow hidden
  white-space nowrap
  margin-right 3px
  border-radius 2px
  background-size cover !important
  text-transform uppercase
  font 15px sans-serif
  display flex
  justify-content center
  align-items center
  cursor pointer
  color #fff
  caption
    font-size 16px
    text-transform none
    background rgba(0, 0, 0, .3)
    padding 2px 5px
  @media screen and (min-width break-tablet)
    margin-right 5px !important
    caption
      font-size 18px
