message-body
  display inline-block
  @extend $font-bread
  -ms-word-break normal
  word-break normal
  width 100%
  overflow hidden
  text-overflow ellipsis
  .fwd
    background color-brand
    color #fff
    border-radius 2px
    padding 3px 5px
    cursor pointer
  p
    text-align justify