message-bubble
  display block
  overflow-x hidden
  overflow-y auto
  width calc(100vw - 10px)
  /*animation-mixin(fadeInUp)
  opacity 0
  animation-delay 1s
  for num in (1..12) // Makes content show up in read order
    &:nth-last-of-type({num})
      animation-delay num * 0.05s*/
  @media screen and (min-width break-tablet)
    width calc(100vw - 10px - 360px)
  & > div
    overflow auto
    margin 5px 3px
    min-width 200px
    max-width 100%
  .white
    background-color #fff
    padding 5px 16px 1px
    border-radius 24px 24px 24px 2px
  .cap
    color color-brand
    cursor pointer
    font 15px 'Work Sans'
    background url('gfx/color/subj.svg') no-repeat 1px
    padding-left 24px
    margin-top 10px
  .files
    display flex
    overflow-x auto
    margin-bottom 14px
  .foot
    .info
      float right
      margin 6px 21px 0
      font-size 10px
      color rgba(0,0,0,0.3)
      font-family Roboto
      .status
        font-size 12px
        display inline-block
        margin -2px 5px 0 0
        &:before
          width 9px
          height 9px
          content ' '
          display block
        &.s1
          &:before
            background url('gfx/gray/clock.svg') no-repeat
        &.s2
          &:before
            background url('gfx/gray/check.svg') no-repeat
            width 12px
  &.yours
    .foot
      avatar
        float left
        left 10px
      .info
        float left
        margin-left 19px
    & > div
      float left
      margin-right 15px
  &.mine
    & > div
      float right
      margin-left 15px
    .white
      border-radius 24px 24px 2px 24px
  avatar
    float right
    position relative
    top -9px
    left -10px
    font 15px sans-serif
