search-bar
  display block
  height 56px
  min-height 56px
  input
    height 56px
    border 0
    width 100%
    background url('/gfx/color/search.svg') no-repeat 32px 17px
    color color-brand
    font-size 14px
    padding 0 0 0 77px
    &::-webkit-input-placeholder
      font 15px 'Work Sans'
  div
    width 35px
    height 35px
    background url('/gfx/color/cross.svg') no-repeat center
    position relative
    top -46px
    right 10px
    cursor pointer
    float right