invitation-widget
  max-width 100vw
  overflow hidden

  &.event
    display flex
    flex-direction column
    & > div
      width 100%
      margin 8px 0
    .b
      display flex
      overflow hidden
      & > div
        div:first-child
          color rgba(0, 0, 0, .87)
          font-family 'Work Sans'
          font-weight 300
    icon
      min-width 24px
      height 30px
      display block
      background no-repeat 4px 12px
    .when
      icon
        background-image url('/gfx/gray/clock-2.svg')
    .where
      icon
        background-image url('/gfx/gray/map-marker.svg')
    .people
      display flex
      flex-direction row
      overflow hidden
      & > div
        width calc(50vw - 20px)
      .org
        icon
          background-image url('/gfx/gray/person.svg')
      .att
        icon
          background-image url('/gfx/gray/persons.svg')
          min-width 30px
    .open
      font-family 'Work Sans', sans-serif
      text-align center
      border-top 1px solid color-bg-grey
      a
        text-decoration none
        padding-top 16px
        display block
        height 40px