chats-page
  width 100vw
  height 100vh
  background-color color-bg-grey
  display flex
  flex-direction column
  position fixed
  @media screen and (min-width break-tablet)
    width 360px
    background-color color-brand
  search-bar
    margin-top 8px
    background-color color-bg-grey
    z-index 1
    @media screen and (min-width break-tablet)
      margin-top 56px
      background-color color-brand
    &.focused
      margin 0 20px
      border-bottom 2px solid color-brand
      width calc(100% - 40px)
      input
        padding-left 0
        background 0
      div
        right -10px
  ul
    padding 0
    margin 0
    list-style-type none
    overflow-x hidden
    overflow-scrolling touch
    &.travel
      transition all .4s ease-in
    @media screen and (min-width break-tablet)
      .selected
        .real
          background-color darken(color-brand, 4%)
  ul::-webkit-scrollbar
    display: none

  loader
    width 48px
    height 48px
    z-index 1
    position fixed
    opacity 0
    left 50%
    margin-left @width*(-0.5)
    background-color #ffffff
    border-radius 999px
    inner-loader
      display block
      width 48px
      height 48px
      background url('gfx/color/loading.svg') no-repeat center center
      background-size 40px
    &.travel
      transition all .4s ease-in
      inner-loader
        transition all .4s ease-in


  .list-hint
    @media screen and (min-width break-tablet)
      color #fff