chats-page
  width 100vw
  height 100vh
  background-color color-bg-grey
  display flex
  flex-direction column
  position fixed
  @media screen and (min-width break-tablet)
    width 360px
  search-bar
    margin-top 8px
    background-color color-bg-grey
    z-index 1
    &.focused
      margin 0 20px
      border-bottom 2px solid color-brand
      width calc(100% - 40px)
      input
        padding-left 0
        background 0
      div
        right -10px
  ul
    padding 0
    margin 0
    list-style-type none
    overflow-x hidden
    overflow-scrolling touch
    &.travel
      transition all .4s ease-in

  qs-button
    position fixed
    background-color color-brand
    border-radius 20px
    color #fff
    width 133px
    height 40px
    bottom 72px
    right 8px
    cursor pointer
    font-size 15px
    display flex
    justify-content center
    align-items center
    bar-icon
      max-width 21px
      margin-right 12px
  qs-shader
    display flex
    position fixed
    z-index 1
    top 0
    left 0
    width 100vw
    height 100vh
    background rgba(color-bg-grey, .8)
    flex-direction column
    justify-content center
    bar
      margin-top 5px
      display flex
      justify-content center
      button
        border-radius 100px
        height 48px
        width 100px
        @extend $font-clickable
        &.picked
          background color-brand
          color #fff
  qs-indicator
    background-color color-brand
    border-radius 28px
    color white
    width calc(100% - 16px)
    height 56px
    display flex
    justify-content center
    align-items center
    margin 24px auto 0
    padding-left 12px
    font 300 22px 'Work Sans'
    div
      flex 10
      text-align center
    bar-icon
      min-width 56px
  quick-stack
    display flex
    flex-direction column
    background #fff
    height 344px
    border-radius 2px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, .12)
    margin 0 8px
    overflow-x hidden
    padding-bottom 20px
    shadow
      div
        height 70px
        position fixed
        margin-top -50px
        width calc(100vw - 15px)
        background-image linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9) 51%, #fff)
    message-bubble
      .white
        background-color transparent
        padding-left 10px
      flex 1
      padding-left 44px
      .foot, .cap
        display none
      &.mine
        & > div
          float none
          margin-left auto
      p:first-of-type
        margin-top 0
      p
        @extend $font-bread
    topbar
      display flex
      margin 12px 12px 0
      div
        display flex
        align-items center
        margin-left 12px
        @extend $font-heading

  loader
    width 48px
    height 48px
    z-index 1
    position fixed
    opacity 0
    left 50%
    margin-left @width*(-0.5)
    background-color #ffffff
    border-radius 999px
    inner-loader
      display block
      width 48px
      height 48px
      background url('gfx/color/loading.svg') no-repeat center center
      background-size 40px
    &.travel
      transition all .4s ease-in
      inner-loader
        transition all .4s ease-in
