chats-page
  width 100vw
  background-color color-bg-grey
  display block
  ul
    padding 0
    list-style-type none
    margin 0 0
    overflow-x hidden
    transition-mixin(transform)
    margin-bottom 56px