login-page
  background color-bg-grey
  color color-font-standard
  min-height 100vh
  width 100vw
  font-weight 500
  box-sizing border-box
  display block
  padding-top 14vh
  img
    margin 0 auto 13vh
    display block
  button
    width 73%
    margin auto
    display block
    border 0
    border-radius 2px
    height 40px
    cursor pointer
  .google
    color color-font-hint
    background #fff url("/gfx/super-g.png") no-repeat 13px 11px
    font 600 14px Roboto
  .text
    text-align center
    margin 20px 0
    font 300 22px 'Work Sans'
  .login
    background #fff
    color color-brand
    margin-top 8px
    &:disabled
      background rgba(0, 0, 0, .08)
      color #fff
  input
    width 73%
    margin 0 auto 8px
    display block
    border 0
    border-radius 2px
    background #eaeaea
    text-align center
    color color-font-standard
    padding 10px 0
