messages-page
  width 100vw
  height 100vh
  display block
  & > ul
    list-style-type none
    padding 5px
    position absolute
    top 56px
    bottom 62px
    overflow-y auto
    background-color color-bg-grey
    margin 0
    width 100%
  snackbar
    position fixed
    top 0
    width 100%
    height 56px
    background-color #fff
    z-index 10
    display flex
    align-items center
    div
      color color-brand
      font-weight 300
      font-size 27px
      flex-grow 4
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      &.toggled
        border-radius 2px
        background-color color-bg-grey
    bar-icon
      height 56px
      max-width 40px
      min-width 40px
      &.toggled
        svg
          border-radius 50%
          background-color color-bg-grey
  composer
    position fixed
    bottom 0
    width 100%
    background #fff
    bar
      height 40px
      display flex
      width 100%
      .subj
        flex-grow 4
        border 0
        color color-brand
        font 15px 'Work Sans'
      bar-icon
        min-width 40px
        max-width 40px
    & > bar-icon
      position fixed
      right 0
      bottom 0
      height 64px
    textarea
      border 0
      border-top 1px solid color-bg-grey
      max-height 30vh
      font 15px Roboto
      width 100%
      transition height 0.4s
      padding 20px 40px 20px 20px
      font-size 18px
      resize none
      &::-webkit-input-placeholder
        font-style italic
        font-family 'Work Sans', sans-serif
        font-weight 300
      &::-moz-placeholder
        font-style italic
        font-family 'Work Sans', sans-serif
        font-weight 300
    .files
      position fixed
      bottom 0
      display flex
      white-space nowrap
      padding 0 2px
      file-plate
        margin 3px 2px
    .uploader
      opacity 0
      position fixed
      right 0
      height 40px
      width 40px