messages-page
  width 100vw
  // height calc(100vh - 56px)
  background-color color-bg-grey
  display block
  ul
    list-style-type none
    padding 0 5px
    height calc(100vh - 56px)
    margin 56px 0
  snackbar
    position fixed
    top 0
    width 100%
    height 56px
    background-color #fff
    z-index 10
    display flex
    div
      color color-brand
      font-weight 300
      font-size 27px
      flex-grow 4
      white-space nowrap
      overflow hidden
      display flex
      align-items center
    bar-icon
      height 56px
      max-width 40px
      min-width 40px