profile-page
  background color-bg-grey
  display flex
  flex-direction column
  position fixed
  height 100vh
  width 100vw
  font 14px 'Roboto'
  .head
    display flex
    padding 20px 8px 5px
  .name
    font 300 22px 'Work Sans'
  .group
    font 300 22px 'Work Sans'
    padding-left 64px
    margin-top 25px
  .line
    margin 6px 0 6px 64px
  avatar
    margin-right 8px
  button
    background color-bg-grey
    margin-left 50px
  ul
    padding-left 20px
  checkbox
    margin 24px 0