profile-page
  background color-bg-grey
  display flex
  flex-direction column
  position fixed
  height 100vh
  width 100vw
  font 14px 'Roboto', sans-serif
  .head
    display flex
    padding 20px 8px 16px
    align-items center
    @media screen and (min-width break-tablet)
      margin-top 56px
  .name
    @extend $font-heading
    margin-bottom 4px
  .group
    @extend $font-heading
    padding-left 64px
    margin-top 25px
  .line
    margin 6px 0 6px 64px
  avatar
    margin-right 16px
  button
    background color-bg-grey
    margin 0 auto 0 50px
  ul
    padding-left 20px
    margin-top 0
  checkbox
    margin 24px 0
  bottom-bar
    margin-top 0
  .appver
    font 13px 'Work Sans'
    margin auto 0 16px
    text-align center
