@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

@keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0

@keyframes fadeInUp
  0%
    opacity 0
    transform translateY(8px)
  100%
    opacity 1
    transform translateY(0px)

@keyframes fadeInDown
  0%
    opacity 0
    transform translateY(-8px)
  100%
    opacity 1
    transform translateY(0px)

@keyframes fadeInLeft
  0%
    opacity 0
    transform translateX(-16px)
  100%
    opacity 1
    transform translateX(0)

@keyframes fadeInRight
  0%
    opacity 0
    transform translateX(16px)
  100%
    opacity 1
    transform translateX(0)

@keyframes scrollInLeft
  0%
    transform translateX(-100%)
  100%
    transform translateX(0)

@keyframes scrollInRight
  0%
    transform translateX(100%)
  100%
    transform translateX(0)

@keyframes ldStretchDelay
  0%, 40%, 100%
    transform scaleY(0.4)
  20%
    transform scaleY(1)

@keyframes ldBounce
  0%, 100%
    transform scale(0.0)
  50%
    transform scale(1.0)

@keyframes load-anim-small
  0%
    transform rotate(-30deg) scaleX(1.2)
  50%
    transform rotate(0deg) scaleX(1)
  100%
    transform rotate(30deg) scaleX(1.2)

@keyframes load-anim-small2
  0%
    transform rotate(30deg) scaleX(1.2)
  50%
    transform rotate(0deg) scaleX(1)
  100%
    transform rotate(-30deg) scaleX(1.2)

@keyframes load-anim-big
  0%
    transform rotate(-30deg) scaleX(1.2)
  50%
    transform rotate(0deg) scaleX(1)
  100%
    transform rotate(30deg) scaleX(1.2)

@keyframes load-anim-big2
  0%
    transform rotate(30deg) scaleX(1.2)
  50%
    transform rotate(0deg) scaleX(1)
  100%
    transform rotate(-30deg) scaleX(1.2)

// Remove this when we have a good prefix system in place
@-webkit-keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

@-webkit-keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0

@-webkit-keyframes fadeInUp
  0%
    opacity 0
    -webkit-transform translateY(8px)
  100%
    opacity 1
    -webkit-transform translateY(0px)

@-webkit-keyframes fadeInDown
  0%
    opacity 0
    -webkit-transform translateY(-8px)
  100%
    opacity 1
    -webkit-transform translateY(0px)

@-webkit-keyframes fadeInLeft
  0%
    opacity 0
    -webkit-transform translateX(-16px)
  100%
    opacity 1
    -webkit-transform translateX(0)

@-webkit-keyframes fadeInRight
  0%
    opacity 0
    -webkit-transform translateX(16px)
  100%
    opacity 1
    -webkit-transform translateX(0)

@-webkit-keyframes scrollInLeft
  0%
    -webkit-transform translateX(-100%)
  100%
    -webkit-transform translateX(0)

@-webkit-keyframes scrollInRight
  0%
    -webkit-transform translateX(100%)
  100%
    -webkit-transform translateX(0)

@-webkit-keyframes ldStretchDelay
  0%, 40%, 100%
    -webkit-transform scaleY(0.4)
  20%
    -webkit-transform scaleY(1)

@-webkit-keyframes ldBounce
  0%, 100%
    -webkit-transform scale(0.0)
  50%
    -webkit-transform scale(1.0)

@-webkit-keyframes load-anim-small
  0%
    -webkit-transform rotate(-30deg) scaleX(1.2)
  50%
    -webkit-transform rotate(0deg) scaleX(1)
  100%
    -webkit-transform rotate(30deg) scaleX(1.2)

@-webkit-keyframes load-anim-small2
  0%
    -webkit-transform rotate(30deg) scaleX(1.2)
  50%
    -webkit-transform rotate(0deg) scaleX(1)
  100%
    -webkit-transform rotate(-30deg) scaleX(1.2)

@-webkit-keyframes load-anim-big
  0%
    -webkit-transform rotate(-30deg) scaleX(1.2)
  50%
    -webkit-transform rotate(0deg) scaleX(1)
  100%
    -webkit-transform rotate(30deg) scaleX(1.2)

@-webkit-keyframes load-anim-big2
  0%
    -webkit-transform rotate(30deg) scaleX(1.2)
  50%
    -webkit-transform rotate(0deg) scaleX(1)
  100%
    -webkit-transform rotate(-30deg) scaleX(1.2)
