// Breakpoints
break-tablet = 768px
break-desktop = 1280px

// Some core variables
color-font-standard = rgba(0,0,0,0.87)
color-font-hint = rgba(0,0,0,0.54)
color-brand = #0001f7
color-bg-grey = #f5f5f5

// If 13 is baseline (set in html)
font-size-xsmall = 1rem // 13px
font-size-small = 1.154rem // 15px
font-size-medium = 1.538rem // 20px
font-size-large = 1.846rem // 24px
font-size-xlarge = 2.077rem // 27px

// Distances
margin-tiny = 4px
margin-small = 8px
margin-medium = 12px
margin-large = 16px
margin-xlarge = 24px

// Font styles, @extend theese
$font-bread // This is a placeholder selector, wont be generated in the css but can be extended
	font-family 'Roboto', sans-serif
	font-size font-size-small
	line-height font-size-medium
	color color-font-standard

$font-clickable
	font-family 'Work Sans', sans-serif
	font-size font-size-small
	font-weight 400
	color color-brand

$font-clickable-bold
	font-family 'Work Sans', sans-serif
	font-size font-size-small
	font-weight 500
	color color-brand

$font-heading
	font-family 'Work Sans', sans-serif
	font-size font-size-large
	font-weight 300
	color color-font-standard

// Font setup
@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 400
	src local('Roboto'), local('Roboto-Regular'), url("/gfx/Roboto-Regular.woff") format('woff')

@font-face
	font-family 'Work Sans'
	font-style normal
	font-weight 300
	src local('Work Sans Light'), local('Work-Sans-300'), url("/gfx/WorkSans-Light.woff") format('woff')

@font-face
	font-family 'Work Sans'
	font-style normal
	font-weight 400
	src local('Work Sans'), local('Work-Sans-regular'), url("/gfx/WorkSans-Regular.woff") format('woff')

@font-face
	font-family 'Work Sans'
	font-style normal
	font-weight 500
	src local('Work Sans Medium'), local('Work-Sans-500'), url("/gfx/WorkSans-Medium.woff") format('woff')

@font-face
	font-family 'Work Sans'
	font-style normal
	font-weight 600
	src local('Work Sans SemiBold'), local('Work-Sans-600'), url("/gfx/WorkSans-SemiBold.woff") format('woff')

html
	font-size 13px
	@media screen and (min-width break-desktop)
		font-size 11px

body
	font-family 'Work Sans', sans-serif
	color color-font-standard
	padding 0
	margin 0
	background-color #fff
	&::-webkit-scrollbar
		display none


button
	margin 5px auto
	padding 7px 15px 6px
	cursor pointer
	background #fff
	border 1px color-brand solid
	color color-brand
	border-radius 3px
	min-width 64px
	height 36px
	@extend $font-clickable
	&:active
		background-color color-brand
		color #fff

.hidden
	display none

.page
	display none
	padding 5px

*
	outline 0
	tap-highlight-color rgba(0,0,0,0)

.file-icon
	height 72px
	width 72px
	border-radius 2px
	background-size cover !important
	text-transform uppercase
	font 15px sans-serif
	display flex
	justify-content center
	align-items center
	cursor pointer
	color #fff

.texty
	border 1px solid color-brand
	padding 5px 8px
	height 26px
	font-size 16px

.spinner
	margin 80px auto 30px
	width 50px
	height 40px
	text-align center
	font-size 10px
	& > div
		background-color #fff
		height 100%
		width 6px
		display inline-block
		animation sk-stretchdelay 1.2s infinite ease-in-out
	.rect2
		animation-delay -1.1s
	.rect3
		animation-delay -1s
	.rect4
		animation-delay -0.9s
	.rect5
		animation-delay -0.8s

	.onoff
		position relative
		width 64px
		user-select none
		cursor pointer

.onoff
	input
		display none
		&:checked
			& + label
				background-color color-brand
				&:before
					right 0
	label
		display block
		overflow hidden
		cursor pointer
		height 36px
		padding 0
		line-height 36px
		border 1px solid color-brand
		border-radius 36px
		background-color #fff
		transition background-color .3s ease-in
		&:before
			content ""
			display block
			width 36px
			height 36px
			margin -1px 9px 0 -1px
			background #fff
			position absolute
			border 1px solid color-brand
			border-radius 36px
/* Transition to Stylus has completely fucked up this switch, plus transition does not work at all anymore :/
		&:before
			content ""
			display block
			width 36px
			margin 0
			background #fff
			position absolute
			top 0
			bottom 0
			right 26px
			border 1px solid color-brand
			border-radius 36px
			transition all 0.3s ease-in 0s*/

#page-loader
	background color-brand
	display flex
	justify-content center
	align-items center
	height 100vh
	flex-direction column

#mbox
	top 0
	display none
	z-index 100
	width 100vw
	height 100vh
	background rgba(0,1,247,0.7)
	position fixed
	& > div
		background #fff
		display flex
		flex-direction column
		margin 5% auto
		width 90%
		align-self center
		max-width 480px
	.body
		padding 20px
		font-size 16px
	.foot
		border-top 1px solid #ddd
		display flex
	input[type="text"]
		width calc(100% - 16px)
	button
		display none
		margin 15px auto

#demo
	top 0
	display none
	z-index 100
	width 100vw
	height 100vh
	background rgba(0,1,247,0.7)
	position fixed
	& > div
		display flex
		flex-direction column
		width 100%
		align-self center
	.img
		width 100%
		background-size contain !important
		height 50vh
		text-transform uppercase
		justify-content center
		align-items center
		color #fff
		font-size 64px
		display flex
	.head
		display flex
		justify-content flex-end
		margin 5px
	.close
		background url("/gfx/white/close.svg") no-repeat
		width 20px
		height 20px
		cursor pointer
	.bar
		height 10vmin
		position fixed
		width 100%
		top calc(100vh - 50vw - 2px)
		display none
	.delete
		background url("/gfx/white/delete.svg") no-repeat center
		width 10vmin
		height 100%
		float right
		cursor pointer
		margin-left auto
	.name
		color #fff
		display flex
		justify-content left
		align-items center
		margin-left 10px

@keyframes sk-strechdelay
	0%, 40%, 100%
		transform scaleY(0.4)
	20%
		transform scaleY(1)
