@media screen and (min-width break-tablet)
  .page
    background color-bg-grey
  #page-contacts
    width 360px
    background #fff
    min-height 100vh
    .head
      width 360px
      .filter
        width 271px
      .clear
        left 330px
        right auto
    ul
      margin-bottom 0
      li
        width 360px
      .hujava
        width 250px
  #page-msgs
    position fixed
    top 0
    left 360px
    right 0
    width auto
    height 100vh
    overflow-y scroll
    ul
      padding 20px 0 60px
      width auto
      li
        overflow auto
        width calc(100vw - 370px)
        &.yours
          & > div
            margin-left 24px
        &.mine
          & > div
            margin-right 24px
  #snackbar
    left 360px
    right 0
    width auto
    box-shadow none
    padding-top 4px
    border-left 1px solid color-bg-grey
    .icon
      &.back
        display none
    .name
      padding-left 24px
  #msgs-filter
    left 372px
  #composer
    textarea
      left 385px
      right 25px
      border 0
      width calc(100vw - 490px)
    .head
      left 385px
      right 25px
      width auto
      border 0
    .subjects
      left 385px
      right 25px
      width auto
    .send
      right 37px
  #uploaded
    left 385px
    right 25px
