/*@media screen and (min-width break-tablet)
  chats-page
    width 360px
  messages-page
    left 360px
    width calc(100vw - 360px)
    message-bubble
      width calc(100vw - 10px - 360px)
    composer
      width calc(100vw - 360px)*/