#page-login
  background color-brand
  color #fff
  height 100vh
  font-weight 500
  div
    width 360px
    margin 0 auto
  .logo
    display block
    margin 15vh auto 14vh
  button
    width 73%
    margin auto
    display block
    border 0
    border-radius 2px
    height 40px
    cursor pointer
  .google
    color rgba(0,0,0,0.5)
    background #fff url("/gfx/super-g.png") no-repeat 13px 11px
  .text
    text-align center
    margin 20px 0
    font-size 24px
  .login
    background #fff
    color #4b54ff
    margin-top 8px
    &:disabled
      background rgba(0,0,0,0.08)
      color #fff
  input
    width 73%
    margin 0 auto 8px
    display block
    border 0
    border-radius 2px
    background rgba(255,255,255,0.2)
    text-align center
    color #fff
    padding 10px 0