// Setup
standardEasing = easeInOutMaterial
standardTransitionTime = 300ms

easeOutQuad = cubic-bezier(0.215, 0.61, 0.355, 1)
easeOutQuint = cubic-bezier(0.23, 1, 0.32, 1)
easeInOutQuint = cubic-bezier(0.86, 0, 0.07, 1)
easeInMaterial = cubic-bezier(0.4, 0.0, 1, 1)
easeOutMaterial = cubic-bezier(0.0, 0.0, 0.2, 1)
easeInOutMaterial = cubic-bezier(0.4, 0.0, 0.2, 1)

noselect()
  user-select none
  -webkit-touch-callout none
  -webkit-tap-highlight-color transparent

transition-mixin(n)
 transition n standardTransitionTime standardEasing

animation-mixin(n)
  animation n standardTransitionTime
  animation-fill-mode forwards
  animation-timing-function standardEasing

.stand-still
  li
    animation none !important
    opacity 1 !important
