#page-cfg
  padding 10px
  .bar
    position fixed
    bottom 15px
    width 100%
  .slide
    display flex
    margin 5px auto
    & > div
      &:nth-child(2n
        & + 1)
          display flex
          align-items center
      &:nth-child(2n)
        width 64px
        margin-left auto
  .infoline
    height 36px
    display flex
    align-items center
  button
    display block