#snackbar
  display none
  position fixed
  top 0
  width 100%
  height 56px
  background-color #fff
  z-index 10
  color color-brand
  left 0
  align-items center
  border-bottom 1px color-bg-grey solid
  div
    opacity 0
    animation-mixin(fadeInLeft)
    for num in (1..5) // Makes content show up in read order
      &:nth-last-of-type({num})
        animation-delay num * 0.05s
  .icon
    width 40px
    height 40px
    text-align center
    background no-repeat center center
    top 8px
    cursor pointer
    border-radius 50%
  .back
    left 5px
    background-image url("/gfx/color/arrow-back.svg")
    animation-mixin(fadeInRight)
  .name
    left 50px
    font-weight 300
    font-size 27px
    flex-grow 4
  .tags
    right 85px
    overflow hidden
    span
      position absolute
      display block
      pointer-events none
      width 40px
      height @width
      top 0
      left 0
      background-position center
      background-image url("/gfx/color/subject-card.svg")
      transition-mixin(transform)
      &:first-of-type
        transform translate(-3px, -3px)
      &:last-of-type
        transform translate(3px, 3px)
    &.toggled
      span
        &:first-of-type
          transform translate(-5px, -5px)
        &:last-of-type
          transform translate(5px, 5px)

  .files
    right 42px
    background-image url("/gfx/color/clip.svg")
  .more
    right 5px
    background-image url("/gfx/color/more-vert.svg")
    transition transform 0.3s
    &.toggled
      transform rotate(90deg)
  .toggled
    background-color color-bg-grey

.snackbar-menu
  z-index 10
  position fixed
  right 3px
  top 65px
  display none
  background-color #fff
  border 2px solid color-bg-grey
  //box-shadow 0 2px 6px 0 rgba(128,128,128,0.5)
  ul
    list-style-type none
    padding 2px 0
    margin 0
  &:before
    right 11px
    border-color transparent transparent color-bg-grey transparent
    content ''
    position absolute
    top -10px
    width 0
    height 0
    border-style solid
    border-width 0 10px 10px
    z-index 10
  li
    padding 10px 14px
    cursor pointer

#snackbar-menu-tags
  right 85px
  div
    width 152px
    font italic 14px 'Roboto'
    text-align center
    margin 24px 32px
    color rgba(0,0,0,0.56)

#snackbar-menu-files
  right 0
  width 100%
  bottom 0
  z-index 10
  padding-top 1vh
  &:before
    right 51px
  ul
    height 100%
    margin 0 1%
    display flex
    flex-flow row wrap
    justify-content center
    overflow auto
    align-items center
    & > div
      color rgba(0,0,0,0.56)
      font italic 14px Roboto
  li
    margin 1vw
    max-width 47%
    background-color #fff
    border-radius 4px
    padding 0
    flex 1 0 45%
    .img
      height 47vw
      background-size cover
      display flex
      justify-content center
      align-items center
      color #fff
      font 32px Edmondsans, sans-serif
      text-transform uppercase
      max-height 250px
    .bar
      width 100%
      height 13vw
      background-color #fff
      border-radius 0 0 4px 4px
      display flex
      & > div
        flex 1
        background no-repeat center center
        opacity 0.6
        &:nth-child(1)
          background-image url("/gfx/color/download.svg")
        &:nth-child(2)
          background-image url("/gfx/color/share.svg")

#msgs-filter
  position fixed
  top 64px
  height 60px
  left 12px
  right 12px
  background #fff
  display none
  padding-left 10px
  align-items center
  font-family 'Work Sans'
  border 1px #eee solid
  .cap
    font-size 13px
    color rgba(0,0,0,0.54)
  .close
    background url("/gfx/color/clear.svg") no-repeat
    width 20px
    height 20px
    cursor pointer
    margin 0 10px 0 auto
  .body
    font-size 15px
    color color-brand


/* Containers */

.cont-user-picker
  ul
    padding 0
  li
    white-space nowrap
    list-style-type none
